/Calculo.class
/Soma.class
/Multiplicar.class
/CalculoTeste.class
/Somar.class
/CalculoTeste1.class
/CalculoTeste2.class
/CalculoTeste3.class
/Foreach.class
/Predicado.class
/Produto.class
/Consimidor.class
/Funcao.class
/PredicadoComposicao.class
/Fornecedor.class
/OperadorUnario.class
/OperadorBinario.class
/Desafio.class
/Threads.class
/Trasbalho1.class
/Trabalho1.class
/Threads$1.class
